/* Reset de margens e paddings */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh; /* Altura mínima para ocupar a tela toda */
    font-family: Arial, sans-serif;
    background-color: #f4f4f9; /* Fundo suave */
    color: #333;
}

.centered-div {
    background: #ffffff; /* Fundo branco para destacar */
    padding: 20px 30px; /* Espaçamento interno */
    border-radius: 8px; /* Bordas arredondadas */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra leve */
    text-align: center; /* Centraliza texto e elementos */
    width: 100%;
    max-width: 400px; /* Limita largura máxima */
}

h1 {
    margin-bottom: 20px;
    font-size: 24px;
    color: #555;
}

p {
    margin-bottom: 10px;
    font-size: 16px;
    line-height: 1.5;
}

.title {
    font-size: 24px; /* Tamanho da fonte */
    font-weight: bold; /* Negrito */
    color: #333333; /* Cor do texto */
    text-align: center; /* Alinhamento do texto */
    margin-top: 20px; /* Espaço acima do título */
    margin-bottom: 20px; /* Espaço abaixo do título */
}

.equipes-container {
    padding: 20px;
}

.equipe {
    border: 1px solid #ddd;
    margin-bottom: 20px;
    padding: 15px;
    background-color: #f9f9f9;
    border-radius: 8px;
}

.equipe h2 {
    color: #007bff;
    font-size: 24px;
    margin-bottom: 10px;
}

.funcionarios, .objetos, .acoes {
    margin-bottom: 15px;
}

h3 {
    font-size: 20px;
    margin-bottom: 10px;
    color: #555;
}

ul {
    list-style-type: none;
    padding-left: 0;
}

li {
    margin: 5px 0;
}

.back-button {
    display: inline-block;
    background-color: #007bff;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    text-decoration: none;
}

.logo{
width: 500px;
height: auto;
}

.back-button:hover {
    background-color: #0056b3;
}
