/* Resetando margens e preenchimentos padrão */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Corpo da página */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
}

/* Menu */
.menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: #004c00;
    color: white;
}

/* Logo */
.logo img {
    width: 50px;
    height: auto;
}

/* Barra de navegação */
nav {
    display: flex;
    align-items: center;
}

nav h1 {
    font-size: 24px;
    margin-right: 30px;
    color: white;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
    font-size: 18px;
    transition: color 0.3s ease;
}

nav a:hover {
    color: #800044; /* Cor de destaque ao passar o mouse */
}

/* Responsividade */
@media screen and (max-width: 768px) {
    /* Alinhar logo e menu para tela menor */
    .menu {
        flex-direction: column;
        align-items: flex-start;
    }

    nav h1 {
        margin-right: 0;
        margin-bottom: 10px;
    }

    nav {
        flex-direction: column;
        align-items: flex-start;
    }

    nav a {
        margin: 5px 0;
    }
}
