<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Equipes</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <thead>
        <tr>
        <th>Equipes</tr>
        </tr>
        <tbody>
            {% for e in equipes %}
            <tr>
                <td>{{ f.name }}</td>

            </tr>
            {% endfor %}
    </thead>
        <h1>Sua Equipe</h1>
        {% if equipe %}
            <h2>Equipe: {{ equipe.name }}</h2>
            <h3>Membros:</h3>
            <ul>
                {% for membro in equipe.funcionarios %}
                    <li>{{ membro.name }} - {{ membro.email }}</li>
                {% endfor %}
            </ul>
        {% else %}
            <p>Você não pertence a nenhuma equipe.</p>
        {% endif %}
</body>
</html>