<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>cadastrar</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>Cadastre-se</h1>
    <form action="/cadastro" method="post">
        <label for="nome">Nome:</label>
        <input type="text" name="nome" id="">
        <label for="email">Email:</label>
        <input type="email" name="email">
        <label for="telefone">Telefone:</label>
        <input type="tel" name="telefone" id="">
        <label for="nacionalidade">Nacionalidade:</label>
        <input type="text" name="nacionalidade">
        <label for="adress">Endereço</label>
        <input type="text" name="adress">
        <label for="password">Senha</label>
        <input type="password" name="password">
        <button type="submit">Enviar</button>
    </form>
</body>
</html>