<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Solicitações</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>Solicitações</h1>
    <thead>
        <tr>
        <th>Solicitações</tr>
        </tr>
        <tbody>
            {% for s in solicitacoes %}
            <tr>
                <td>{{ f.solicitacao }}</td>

            </tr>
            {% endfor %}
    </thead>
</body>
</html>